{% extends 'layoutEmail.html.twig' %}

{% block title %} New Program{% endblock %}
{% block programMail %}

<h1>New program {{ program.title }} created</h1>
<p>Hello, the new program {{ program.title }} has been created on Wild Series</p>
<p>Summary : {{program.summary }}

{% endblock %}
