@import"variables.scss";
@import "~bootstrap/scss/bootstrap";


body {
    background-color: $grey-color;
    color: blue;
    font-family: $font-family-base;
}
.navbar {
        background-color: $grey-color;
}
.nav-item .nav-link {
  color: blue;
}


  .btn-grad {background-image: linear-gradient(to right, #1a2980 0%, #26D0CE  51%, #1A2980  100%)}
  .btn-grad {
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .table tr{
    color: $blue-color;
  }

  .btn{
    color: $red-color;
  }

  .form-inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .subscribe {
    display: contents;
    justify-content: center;
  }




